.resource-page{
    display: flex;
    flex-direction: column;
    padding: min(50px, 7%);
    background: url(back1.jpg);
    /*background-color: #0c0125;*/
    width: 100%;
    height: minmax(100vh,110vh);
    justify-content: center;
    align-items: center;
    
}
h1{
    
    color: white;
    margin: 20px 0;
    font-size: 2rem;
    font-weight: 800;
}

.resource-card{
    padding: 1rem;
    border: 1px solid #7e3385;
    box-shadow: 0 0 20px 2px rgba(155, 84, 168, 0.573);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    background-color: rgba(22, 2, 37, 0.433);
    text-align: center;
    color: white;
    cursor: pointer;
}
.resource-card h2{
    font-weight: 700;
    padding-bottom: 2vmin;
}
.resource-card p{
    font-weight: 300;
}

.resource-grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10vmin;
    justify-content: center;
    padding-left: 15vmin;
    padding-right: 15vmin;
}